#button {
    display: inline-block;
    padding: 10px 20px;
    background-color: lightgrey;
    color: black;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

* {
    text-align: center;
}

header {
    padding: 50px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
    background-color: DarkSalmon;
    color: black;
    margin-top: 100px;
  }