.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


.box {
    width: 400px;
    height: 400px;
    background-color: #eaeaea;
    border: 2px solid #999999;
    margin: 30px;
    text-align: center;
    line-height: 200px;
    font-size: 24px;
    
}

footer {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 10px;
  background-color: DarkSalmon;
  color: black;
  margin-top: 100px;
}