.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


.box {
    width: calc(33.33% - 20px); /* 33.33% width minus margin */
     
    min-width: 100px;
    max-width: 150px;
    min-height: 100px;
    max-height: 150px;
    height: 200px;
    background-color: #eaeaea;
    border: 1px solid #999999;
    margin: 10px;
    text-align: center;
    line-height: 200px;
    font-size: 24px;
}
