* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: relative;
  top: 50%;
  text-align: center;
  padding: 32px;
}
 
img {
  width: 100px;
  height: auto;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}